.App {
  text-align: center;
  padding: 20px;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.scanner-container {
  position: relative;
  width: 100%;
  height: 150px;
  margin: 20px auto;
  border: 4px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  background-color: #000;
}

.scanner-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scanner-container canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.manual-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 10px; /* Adds space between elements */
}

.manual-search input {
  flex-grow: 1; /* Allows input to take available space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.manual-search button {
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  white-space: nowrap;
}

/* Responsive styles for mobile screens */
@media (max-width: 600px) {
  .manual-search {
    flex-direction: column; /* Stack elements vertically */
  }

  .manual-search input,
  .manual-search button {
    width: 100%; /* Make elements full-width */
  }
}

.manual-search button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #d9534f;
  margin-top: 15px;
}

